*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}

#mapid {
    height: 100vh;
    width: 100vw;
}


/*Legend specific*/
.legend {
    width: 10vw;
    background: rgba(255, 255, 255, 0.9);
    line-height: 24px;
    color: #555;
  }
  .legend h4 {
    text-align: center;
    font-size: 24px;
    margin: 2px 12px 8px;
    color: #777;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
    font-size:16px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }

  .regular-checkbox{
    -webkit-appearance: none;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }
  
  .regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  
  .regular-checkbox:checked {
    background-color: #4a4f52;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
  }

  .labels{
    background-color: aqua;
  }
  .row{
    float: left;
  }